<h3><a href="/landmarks/<%= landmark.id %>"><%= landmark.name %></a></h3>
<p><%= landmark.year_completed %></p>
  </tr>
  <% end %>
</table>
<br>
<a class="button" href="landmarks/new">New LANDMARK HERE</a>
<a class="button" href="/figures">View Figures</a>